<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-5</title>
</head>

<body>

    <table style="width:380px; font-size:10pt; padding:5px;font-family:Arial,  sans-serif;background-color: #ffffff;"
        cellpadding="0" cellspacing="0" border="0" class="ng-scope">
        <tbody>
            <tr>
                <td style="font-size:10pt; width:151px; vertical-align:top;" valign="top">
                    <p style="margin-bottom:10px; line-height:1.2; padding-left:5px; margin-top: 5px;">
                        <strong><span style="font-size:12pt; font-family:FreightBig Pro, sans-serif; color:#1a5a49; "
                                class="ng-binding">

                                KAREN GRIMES

                            </span></strong><br>
                        <span ng-if="showField('title')"
                            style="font-family:Segoe UI Semilight, sans-serif; font-size:11pt; color:#202620;"
                            class="ng-binding ng-scope">

                            Client Intermediary

                        </span>
                    </p>
                    <a href="https://graviteqgroup.com/"
                         > <img border="0"
                             alt="logo" width="143"
                            style="width:143px; height:auto; border:0;" src="https://drive.google.com/uc?export=view&id=1cvPj6V6c5TqdciSKGdRB3eYNF_S2oQM7">
                    </a>
                </td>

                <td style="font-family:Segoe UI Semilight, sans-serif; padding-left:12px; vertical-align:top; line-height:1.2; border-left:solid 2px #1a5a49"
                    valign="top">
                    <span ng-if="showField('phone')"
                        style="font-size:10pt; font-family:Segoe UI Semilight, sans-serif;color:#202620;"
                        class="ng-binding ng-scope">

                        916.848.7650


                    </span>
                    <span ng-if="showField('email')"
                        style="font-size:10pt; font-family:Segoe UI Semilight, sans-serif;color:#202620; text-decoration:none;"
                        class="ng-binding ng-scope"><br>

                        hello@graviteqgroup.com


                    </span>
                    <span ng-if="showField('website')" class="ng-scope"><br><strong><a href="http://graviteqgroup.com"
                                target="_blank" rel="noopener" style="text-decoration:none;"><span
                                    style="font-size:10pt; font-family:Segoe UI Semilight, sans-serif; color:#1a5a49;"
                                    class="ng-binding">

                                    www.graviteqgroup.com

                                </span></a></strong></span>

                    <p style="margin-top:10px; margin-bottom:10px">
                    </p>

                    <p style="margin-top:10px; margin-bottom:0">
                        <span
                            style="font-size:9.5pt; font-family:Segoe UI Semilight, sans-serif;color:#202620;text-decoration:none;"
                            class="ng-binding ng-scope">

                            Registered Investigator with the CA State
                            Controller's Office

                        </span>
                    </p>

                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>