<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-2</title>
</head>

<body>


    <table style="width: 325px; font-size: 10pt; font-family: Arial, sans-serif;" cellpadding="0" cellspacing="0"
        class="ng-scope">
        <tbody>
            <tr>
                <td style="font-size: 14pt; font-family: Arial, sans-serif; width: 325px; padding-bottom: 10px; vertical-align:top;"
                    valign="top">
                    <span style="font-family: Arial, sans-serif; font-size: 14pt; color:#353535;"><span
                            style="font-family: Arial, sans-serif; font-size: 14pt; color:#353535;"
                            class="ng-binding">KAREN GRAVITEQ</span></span>
                    <span ng-if="showField('title')"
                        style="font-family: Arial, sans-serif; font-size: 10pt; color:#878787;" class="ng-scope">

                        <span ng-if="showField('title')"
                            style="font-family: Arial, sans-serif; font-size: 10pt; color:#878787;"
                            class="ng-binding ng-scope"><br>Co-Founder and Managing
                            Partner</span>

                    </span>
                </td>
            </tr>
            <tr>
                <td style="font-size: 10pt; border-top-color: #353535; border-top: 1px solid; padding-bottom: 0px; padding-top: 10px; vertical-align:top;"
                    valign="top">
                    <a ng-if="showField('logoURL') &amp;&amp; showField('logo')" href="https://graviteqgroup.com/"
                        target="_blank" rel="noopener" class="ng-scope"><img border="0"
                            ng-src="https://i.postimg.cc/sxKHzgp4/g-logo.png" alt="logo" width="205"
                            style="width:205px; height:auto; border:0; margin-bottom:5px;"
                            src="https://i.postimg.cc/sxKHzgp4/g-logo.png"></a>
                </td>
            </tr>
            <tr>
                <td style="font-size: 10pt; font-family: Arial, sans-serif; padding-bottom: 10px; padding-top: 0px; color:#2c2c2c; vertical-align:top;"
                    valign="top">
                    <span ng-if="showField('address2')"
                        style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;"
                        class="ng-binding ng-scope">Registered Investigator with the CA State
                        Controller’s Office<br><br></span>
                    <span ng-if="showField('phone')"
                        style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;"
                        class="ng-binding ng-scope">T:
                        916.848.7650<br></span>
                    <span ng-if="showField('email')"
                        style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;"
                        class="ng-binding ng-scope">E:
                        hello@graviteqgroup.com<br>
                    </span>
                    <span ng-if="showField('email')"
                        style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;"
                        class="ng-binding ng-scope">W:
                        graviteqgroup.com<br>
                    </span>

                    
                </td>
            </tr>

        </tbody>
    </table>

</body>

</html>