<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-5</title>
</head>

<body>

    <table style="width:350px; font-size:10pt; font-family:Arial, sans-serif;" cellpadding="0" cellspacing="0"
        border="0" class="ng-scope">
        <tbody>
            <tr>
                <td style="font-size:10pt; width:173px; vertical-align:middle;" valign="middle">

                    <p style="margin-bottom:10px; line-height:1.2; padding-left:5px">
                        <strong><span style="font-size:12pt; font-family:Tahoma, sans-serif; color:#009fae"
                                class="ng-binding">KAREN GRAVITEQ </span></strong><br>
                        <span ng-if="showField('title')"
                            style="font-family:Tahoma, sans-serif; font-size:10pt; color:#000000;"
                            class="ng-binding ng-scope">Co-Founder and Managing
                            Partner</span>
                    </p>
                    <a ng-if="showField('logoURL') &amp;&amp; showField('logo')" href="https://graviteqgroup.com/"
                        target="_blank" rel="noopener" class="ng-scope"> <img border="0"
                            ng-src="https://i.postimg.cc/sxKHzgp4/g-logo.png" alt="logo" width="143"
                            style="width:143px; height:auto; border:0;" src="https://i.postimg.cc/sxKHzgp4/g-logo.png">
                    </a>
                </td>

                <td style="font-family:Tahoma, sans-serif; padding-left:15px; vertical-align:top; line-height:1.2; border-left:solid 2px #cccccc"
                    valign="top">
                    <span ng-if="showField('phone')"
                        style="font-size:10pt; font-family:Tahoma, sans-serif;color:#000000;"
                        class="ng-binding ng-scope"><br>916.848.7650
                    </span>
                    <span ng-if="showField('email')"
                        style="font-size:10pt; font-family:Tahoma, sans-serif;color:#000000;"
                        class="ng-binding ng-scope"><br>hello@graviteqgroup.com
                    </span>
                    <span ng-if="showField('website')" class="ng-scope"><br><strong><a href="http://graviteqgroup.com"
                                target="_blank" rel="noopener" style="text-decoration:none;"><span
                                    style="font-size:10pt; font-family:Tahoma, sans-serif; color:#009fae;"
                                    class="ng-binding">graviteqgroup.com</span></a></strong></span>

                    <p style="margin-top:10px; margin-bottom:10px">
                    </p>
                    <a ng-if="showField('bannerURL')" href="https://www.codetwo.com/email-signatures/" target="_blank"
                        rel="noopener" style="text-decoration:none;" class="ng-scope">

                        <p style="margin-top:5px; margin-bottom:0">
                            <span ng-if="showField('address2')"
                                style="font-size:10pt; font-family:Tahoma, sans-serif;color:#000000;"
                                class="ng-binding ng-scope">Registered Investigator with the CA State
                                Controller's Office</span>
                        </p>

                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>